@import "../bower_components/bootstrap/less/normalize";
@import "../bower_components/bootstrap/less/mixins";
@import "../bower_components/bootstrap/less/utilities";
@import "./variables";

html, body {
  font-face: @font-family-sans-serif;
  min-height: 100%;
}

body {
  background-color: @body-bg;
  background-image: url("../img/backgroundjapa.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: @text-color;
}


#site-container {
  
  border: solid 1px lime;
  max-width: 1220px;
  margin: 0px auto; 
  background-color: white;
  min-height: 30em;
  
}

header {
.clearfix();
  border: solid 1px blue;  
  h1 {
    background-image: url("../img/common/header/logo.png") ;
    background-repeat: no-repeat; 
    text-indent: -9999px;
    width: 150px;
    height: 67px; 
    border: solid red 1px;
    margin: 0;
    float: left;
  }
  nav {
    float: left;
    position: relative;
    margin-top: 20px; 
    .menu-title {
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
    
    ul {
      position: absolute;
      top: 24px;
      left: 18px;
      border: solid 1px blue;
      margin: 0;
      list-style-type: none;
      min-width: 6em;
      padding: 0;
      background-color: @body-bg;
      opacity: 0;
      display: none;
    }//end ul
    &:hover {
      ul {
        display: block;
      }
    }//end nav:hover
  }//end nav

}

.sub-header {
  
  border: solid 1px blue;
  
}

.sub-header-home {
  
  border: solid 1px pink;
  
}

#main-container {
  min-height: 20em;
  
}

footer {

  border: solid 1px yellow;
  
}